<h1>Listing crowds</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crowds.each do |crowd| %>
  <tr>
    <td><%= crowd.price %></td>
    <td><%= crowd.title %></td>
    <td><%= crowd.description %></td>
    <td><%= crowd.image %></td>
    <td><%= crowd.user_id %></td>
    <td><%= link_to 'Show', crowd %></td>
    <td><%= link_to 'Edit', edit_crowd_path(crowd) %></td>
    <td><%= link_to 'Destroy', crowd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crowd', new_crowd_path %>
